.btnsNew {
  @include align-items(center);
  background-color: var(--global--color-violet) !important;
  border: 0;
  @include border-radius(10px !important);
  box-shadow: none;
  cursor: pointer;
  color: var(--global--color-white) !important;
  @include flexbox-display(inline-flex);
  font-weight: $fw-500;
  @include justify-content(center);
  line-height: 1;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;
  @include transition(all, ease, 0.4s);
  &:active,
  &:focus,
  &:hover,
  &:visited {
    box-shadow: none;
    outline: none;
  }
  &:hover {
    background-color: var(--global--color-primary) !important;
  }
  &:focus {
    color: var(--global--color-white);
  }
  &:visited {
    color: var(--global--color-white);
  }
}
.menu-btn {
  @extend .btnsNew;
  @include fontSize(15px);
  height: 42px;
}
.project-btn-wrap {
  @include flex-align(vCenter);
  margin-left: -5px;
  margin-right: -5px;
  & > * {
    margin-left: 5px;
    margin-right: 5px;
  }
  .project-btn {
    @extend .btnsNew;
    @include fontSize(12px);
    height: 40px;
    &.btn-black {
      border-color: var(--global--color-black);
      color: var(--global--color-black) !important;
    }
    &.bg-primary {
      background-color: var(--global--color-primary) !important;
      border-color: var(--global--color-primary);
      &:hover {
        background-color: transparent !important;
        border-color: var(--global--color-primary);
      }
    }
    &.btn-xs {
      @include fontSize(10px);
      height: 34px;
    }
    &.hvr_bg_white {
      &:hover {
        background-color: var(--global--color-white) !important;
      }
    }
    @include min(768) {
      @include fontSize(13px);
      height: 42px;
      padding-left: 20px;
      padding-right: 20px;
      &.btn-sm {
        @include fontSize(11px);
        height: 36px;
      }
    }
    @include min(1200) {
      border-width: 1px;
      @include fontSize(13px);
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      &.btn-sm {
        @include fontSize(10px);
        height: 34px;
      }
    }
    @include min(1600) {
      border-width: 2px;
      @include fontSize(16px);
      height: 44px;
      padding-left: 25px;
      padding-right: 25px;
      &.btn-sm {
        @include fontSize(13px);
        height: 36px;
      }
    }
  }
  &.full-width {
    width: 100%;
    .project-btn {
      margin-left: 0;
      margin-right: 0;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
  }
}
[class*="btns_icons_"] {
  @include flex-align(vhCenter);
  background-color: rgba($text-off,0.3);
  @include border-radius(3px);
  line-height: 1;
  padding: 5px 10px;
  svg {
    fill: var(--global--color-base-text);
    opacity: 0.6;
    @include transition(all,ease,0.3s);
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
  &.no-bg {
    background-color: transparent !important;
    padding: 0 !important;
  }
}
/*input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"] {}*/
#back-to-top {
  @include align-items(center);
  background-color: var(--global--color-primary);
  bottom: 30%;
  color: var(--global--color-white);
  @include flexbox-display(inline-flex);
  flex-direction: column;
  @include justify-content(center);
  height: 50px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 15px;
  text-align: center;
  text-indent: -99999px;
  @include transition(all, ease, 0.5s);
  @include transformY(20px);
  width: 45px;
  z-index: 99;
  span {
    border-left: 2px solid var(--global--color-white);
    border-top: 2px solid var(--global--color-white);
    display: inline-block;
    height: 14px;
    margin-top: 8px;
    @include rotate(45deg);
    width: 14px;
  }
  &.visible {
    opacity: 1;
    @include transformY(0);
  }
  @include min(1600) {
    height: 50px;
    width: 45px;
    span {
    }
  }
  @include max(1199) {
    display: none;
  }
}
.btn_tasks {
  @include align-items(center);
  @include border-radius(3px);
  @include flexbox-display(inline-flex);
  @include fontSize(13px);
  @include justify-content(center);
  font-weight: $fw-500;
  height: 24px;
  padding: 0 10px;
  text-transform: capitalize;
  &.primary {
    background-color: var(--global--color-base-text);
    color: var(--global--color-white);
  }
  &.on-hold,
  &.e-com {
    background-color: rgba($hold,0.3);
    color: var(--global--color-hold);
  }
  &.pending,
  &.low {
    background-color: rgba($danger,0.3);
    color: var(--global--color-danger);
  }
  &.working-on,
  &.lp {
    background-color: rgba($primary-color,0.2);
    color: var(--global--color-primary);
  }
  &.progress,
  &.under-review,
  &.cro {
    background-color: rgba($progress,0.3);
    color: var(--global--color-progress);
  }
  &.complete,
  &.high,
  &.cwp {
    background-color: rgba($success,0.3);
    color: var(--global--color-success);
  }
  &.not-started,
  &.medium {
    background-color: rgba($text-off,0.3);
    color: var(--global--color-text-off);
  }
  &.wtg {
    background-color: rgba($warning,0.3);
    color: var(--global--color-warning);
  }
}