/* =====     Forms     ===== */
input {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
form {
  @include clearfix();
}
.fm-elem-mix {
  color: var(--global--color-base-text);
  font-family: var(--global--font-family-primary);
  font-weight: $fw-300;
  line-height: 1;
}
@include placeholder {
  color: var(--global--color-base-text);
  font-family: var(--global--font-family-primary);
  @include fontSize(14px);
  font-weight: $fw-300;
  line-height: 1;
  opacity: 1;
  @include min(1200) {
    @include fontSize(14px);
  }
  @include min(1600) {
    @include fontSize(15px);
  }
}
.tp_label,
.label,
.form-elements,
textarea,
select {
  @include fontSize(13px);
  @include min(1200) {
    @include fontSize(14px);
  }
  @include min(1600) {
    @include fontSize(15px);
  }
}
.label {
  display: inline-block;
  @extend .fm-elem-mix;
}
.tp_label {
  display: block;
  padding-bottom: 7px;
}
.form-elements,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid var(--global--color-border);
  @include border-radius(6px);
  color: var(--global--color-base-text);
  display: block;
  outline: none !important;
  outline-offset: 0;
  padding-left: 14px;
  padding-right: 14px;
  text-transform: none;
  width: 100%;
  @extend .fm-elem-mix;
  &:focus {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
  }
  @include min(1600) {
    @include border-radius(10px);
    padding-left: 20px;
    padding-right: 20px;
  }
  &:focus,
  &:focus-within {
    border-color: var(--global--color-violet);
  }
}
.form-elements,
select,
textarea {
  height: 40px;
  @include min(1600) {
    height: 44px;
  }
}
textarea {
  height: 30px;
  resize: none;
  &.lg {
    height: 100px;
    @include min(1600) {
      height: 200px;
    }
  }
  @include min(1600) {
    height: 40px;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 7' style='enable-background:new 0 0 12 7;' xml:space='preserve'%3E%3Cpath d='M5.5,6.2C5.1,5.7,4.7,5.3,4.3,4.9C3.8,4.5,3.4,4.1,3,3.6C2.5,3.2,2.1,2.7,1.6,2.3c-0.5-0.5-1-1-1.5-1.5c0,0,0,0-0.1-0.1 C0,0.5,0,0.3,0.2,0.1C0.3,0,0.6,0,0.7,0.1c0.3,0.3,0.7,0.7,1,1C2.2,1.6,2.6,2,3.1,2.5c0.4,0.4,0.9,0.9,1.3,1.3c0,0,0.1,0.1,0.1,0.1 c0.4,0.4,0.9,0.9,1.3,1.3C5.9,5,6,4.9,6.2,4.8c0.4-0.4,0.9-0.9,1.3-1.3c0.1-0.1,0.2-0.2,0.3-0.3c0.5-0.5,1.1-1.1,1.6-1.6 C9.6,1.3,9.8,1.1,10,0.9c0.3-0.3,0.5-0.5,0.8-0.8c0.3-0.3,0.6-0.2,0.8,0.2c0.1,0.2,0,0.3-0.2,0.5c-0.5,0.5-1,1-1.5,1.5 C9.8,2.4,9.6,2.6,9.5,2.7C9.1,3.1,8.7,3.6,8.2,4C8,4.2,7.8,4.4,7.6,4.6c-0.5,0.5-1,1-1.5,1.5C6,6.2,5.9,6.3,5.8,6.3 C5.7,6.3,5.6,6.2,5.5,6.2z'/%3E%3C/svg%3E");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  line-height: 1.4;
  outline: none;
  &:invalid {
    color: #9d9d9d;
  }
  [disabled] {
    color: #9d9d9d;
  }
  option {
    color: var(--global--color-black);
    text-transform: none;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #3a6596;
  display: block;
  color: #fff;
}
.input-holder {
  position: relative;
  .icon_wrapper {
    @include align-items(center);
    @include flexbox();
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
    svg {
      fill: var(--global--color-black);
      height: 15px;
    }
  }
  &.email {
    .icon_wrapper {
      svg {
        height: 11px;
      }
    }
  }
  &.textarea {
    .icon_wrapper {
      display: block;
      top: 2px;
    }
  }
  &.error {
    input,
    textarea {
      border-color: var(--global--color-red);
    }
  }
  .error {
    background-color: var(--global--color-hold);
    @include border-radius(2px);
    bottom: 35px;
    color: var(--global--color-white);
    display: inline-block;
    @include fontSize(10px);
    line-height: 1;
    padding: 4px 8px;
    position: absolute;
    right: 10px;
    width: auto;
    z-index: 2;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @include min(1600) {
    &.textarea {
      .icon_wrapper {
        top: 2px;
      }
    }
  }
  .input-holder {
    margin-bottom: 0 !important;
  }
}
.modal-dialog {
  max-width: 700px;
}
.modal-body {
  padding: 30px;
}
/* == Radio buttons == */
.custom-radio {
  input[type="radio"] {
    display: none;
    & + label {
      color: var(--global--color-base-text);
      cursor: pointer;
      i {
        background-color: var(--global--color-white);
        @include border-radius(50%);
        border: 1px solid var(--global--color-base-text);
        box-shadow: inset 0 0 5px rgba($base-text,0.5);
        display: inline-block;
        height: 16px;
        margin: -5px 7px 0 0;
        position: relative;
        vertical-align: middle;
        width: 16px;
        &:before {
          background-color: var(--global--color-white);
          @include border-radius(50%);
          content: "";
          display: block;
          height: 10px;
          left: 50%;
          position: absolute;
          top: 50%;
          @include transform(-50%, -50%);
          @include transition(all, ease, 0.2s);
          width: 10px;
        }
      }
    }
    &:checked {
      & + label {
        i {
          box-shadow: none;
          border-color: rgba($progress,0.8);
          &:before {
            background-color: var(--global--color-progress);
          }
        }
      }
    }
    &:disabled,
    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.6;
      text-decoration: line-through;
    }
    @include max(1199) {
      & + label {
        i {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}
/* == checkbox == */
.checkbox {
  input[type="checkbox"] {
    display: none;
    & + label {
      color: inherit;
      cursor: pointer;
      @include fontSize(16px);
      font-weight: $fw-500;
      line-height: 1.4;
      padding-left: 28px;
      position: relative;
      text-transform: uppercase;
      top: 0;
      &:before {
        @include flex-align(vhCenter);
        color: var(--global--color-white);
        content: "✓";
        @include fontSize(15px);
        height: 18px;
        left: 0;
        line-height: 1;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        @include transition(all, ease, 0.3s);
        vertical-align: middle;
        width: 18px;
      }
    }
    &:checked {
      & + label {
        &:after {
          opacity: 1;
        }
      }
    }
    &:disabled,
    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.6;
      text-decoration: line-through;
    }
  }
}
.animated-form {
  .form-elements {
    padding-left: 32px;
  }
  .label {
    span {
      display: inline-block;
      position: relative;
      @include transition(all, ease, 0.4s);
    }
  }
  .input-holder {
    .label {
      left: 0;
      position: absolute;
      @include transition(all, ease, 0.4s);
      top: 13px;
      span {
        opacity: 1;
        padding-left: 0;
      }
      svg {
        left: -10px;
        opacity: 0;
      }
    }
    &.active,
    &.activated {
      .label {
        span {
          opacity: 0;
          padding-left: 10px;
        }
        svg {
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}
// Popup Form
.myPopupOpen {
  &.tw-modal-wrapper {
    background-color: rgba($black,0.95);
    .tw-modal-container {
      background-color: transparent;
      box-shadow: none;
      color: var(--global--color-white);
      padding: 0 !important;
    }
    .tw-modal-body {
      margin: 0;
      padding: 20px 25px 0;
    }
    .tw-modal-header {
      color: var(--global--color-white);
    }
    .tw-modal-close-button {
      background-color: var(--global--color-primary);
      border-radius: 0;
      color: var(--global--color-white);
      @include fontSize(20px);
      font-weight: $fw-600;
      text-transform: uppercase;
      &:hover {
        background-color: var(--global--color-white);
        color: var(--global--color-primary);
      }
    }
  }
  @include min(1600) {
    &.tw-modal-wrapper {
      .tw-modal-body {
        padding: 20px 40px 0;
      }
    }
  }
  @include max(767) {
    .heading_wrapper {
      padding: 10px 20px 0;
    }
  }
}
// White Form
.form-white {
  @include placeholder {
    color: var(--global--color-white);
  }
  .label {
    color: var(--global--color-white);
  }
  .form-elements,
  textarea,
  select {
    color: var(--global--color-white);
  }
  select {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 7' style='enable-background:new 0 0 12 7;' xml:space='preserve'%3E%3Cpath style='fill:%23FFFFFF;' d='M5.5,6.2C5.1,5.7,4.7,5.3,4.3,4.9C3.8,4.5,3.4,4.1,3,3.6C2.5,3.2,2.1,2.7,1.6,2.3 c-0.5-0.5-1-1-1.5-1.5c0,0,0,0-0.1-0.1C0,0.5,0,0.3,0.2,0.1C0.3,0,0.6,0,0.7,0.1c0.3,0.3,0.7,0.7,1,1C2.2,1.6,2.6,2,3.1,2.5 c0.4,0.4,0.9,0.9,1.3,1.3c0,0,0.1,0.1,0.1,0.1c0.4,0.4,0.9,0.9,1.3,1.3C5.9,5,6,4.9,6.2,4.8c0.4-0.4,0.9-0.9,1.3-1.3 c0.1-0.1,0.2-0.2,0.3-0.3c0.5-0.5,1.1-1.1,1.6-1.6C9.6,1.3,9.8,1.1,10,0.9c0.3-0.3,0.5-0.5,0.8-0.8c0.3-0.3,0.6-0.2,0.8,0.2 c0.1,0.2,0,0.3-0.2,0.5c-0.5,0.5-1,1-1.5,1.5C9.8,2.4,9.6,2.6,9.5,2.7C9.1,3.1,8.7,3.6,8.2,4C8,4.2,7.8,4.4,7.6,4.6 c-0.5,0.5-1,1-1.5,1.5C6,6.2,5.9,6.3,5.8,6.3C5.7,6.3,5.6,6.2,5.5,6.2z'/%3E%3C/svg%3E");    
    option {
      color: var(--global--color-black);
    }
  }
  .input-holder {
    border-color: var(--global--color-white);
      .icon_wrapper {
      svg {
        fill: var(--global--color-white);
      }
    }
  }
}
.entry_form_wrap {
  .input-holder {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    .placeholder_lab {
      background-color: var(--global--color-white);
      color: var(--global--color-text-off);
      @include fontSize(11px);
      font-weight: $fw-500;
      left: 10px;
      line-height: 1;
      padding: 2px 5px;
      position: absolute;
      top: -8px;
      width: auto;
      z-index: 1;
    }
    &.log_mail {
      padding-left: 14px;
      padding-right: 14px;
      .mailExt {
        background-color: var(--global--color-white);
        color: var(--global--color-text-off);
        @include fontSize(10px);
        font-style: italic;
        font-weight: $fw-500;
        line-height: 1;
        margin-left: auto;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      .input_field {
        border: 0;
        flex-grow: 1;
        padding-right: 7px;
        &:focus {
          appearance: none;
          -webkit-appearance: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          outline: 0;
        }
      }
      @include min(1600) {
        padding-left: 20px;
        padding-right: 20px;
        .mailExt {
          @include fontSize(12px);
        }
      }
    }
    .input-holder {
      margin-bottom: 0;
    }
  }
  @include min(1600) {
    .input-holder {
      margin-bottom: 30px;
      .placeholder_lab {
        @include fontSize(12px);
        left: 15px;
        padding: 3px 8px;
      }
    }
  }
}
.form_sm_fields {
  .form-elements,
  select {
    @include border-radius(3px);
    height: 36px;
    padding-left: 10px;
    padding-right: 25px;
  }
}
.fx-placeholder {
  position: relative;
  input {
    border: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    &:focus,
    &:active {
      border: 0;
      outline: none;
    }
  }
  .mailExt {
    @include fontSize(13px);
    font-style: italic;
    margin-left: auto;
    padding-left: 5px;
  }
}
.thin-border-radius {
  .form-elements,
  textarea,
  select {
    @include border-radius(3px);
  }
}