.breadcrumb {
  @include flex-align(vCenter);
  color: var(--global--color-primary);
  @include fontSize(14px);
  font-weight: $fw-500;
  line-height: 1;
  a {
    @include align-items(center);
    color: var(--global--color-base-text);
    display: flex;
    line-height: 1;
    &:after {
      content: '/';
      margin-left: 10px;
      margin-right: 10px;
    }
    &:hover {
      color: var(--global--color-primary);
    }
  }
}
.main_sidebar {
  .main_menu {
    li {
      a {
        color: rgba($white,0.5);
        @include flex-align(vCenter);
        @include flex-wrap(nowrap);
        @include fontSize(14px);
        font-weight: $fw-400;
        gap: var(--tw-link-icon-gap);
        height: 40px;
        &:hover {
          color: var(--global--color-white);
        }
        .title {
          transition: none !important;
          white-space: nowrap !important;
        }
      }
    }
  }
}