.outer_container {
  background-color: var(--global--color-grey);
  padding: 30px;
  position: relative;
  width: 100%;
  .inner_container {
    position: relative;
    width: 100%;
  }
  [class*="entryCol-"] {
    height: calc(100vh - 60px);
  }
}
.page_appEntry {
  @include border-radius(20px);
  @include box-shadow(0,0,10px,rgba($black,0.1));
  overflow: hidden;
  [class*="entryCol-"] {
    width: 100%;
    .head_logo {
      border-bottom: 1px solid var(--global--color-border);
      padding: 14px 20px !important;
      .logo {
        line-height: 0;
      }
      svg {
        fill: var(--global--color-violet);
        height: 30px;
      }
    }
  }
  .entryCol-left {
    @include flex-align(vhCenter);
    padding-top: 70px;
    position: relative;
    .head_logo {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
.entry-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.tab_button_group {
  margin-bottom: 0 !important;
  .tab_button {
    background-color: var(--global--color-box-bg);
    border: 2px solid var(--global--color-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--global--color-black);
    @include fontSize(15px);
    font-weight: $fw-500;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    text-transform: uppercase;
  }
  .active {
    .tab_button {
      background-color: var(--global--color-white);
      border-color: var(--global--color-primary);
      border-bottom-color: var(--global--color-white);
      color: var(--global--color-primary);
    }
  }
}
.tab_container_wrap {
  background-color: var(--global--color-white);
  padding: 30px;
  @include min(768) {
    .login-container {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  }
  .choosedId {
    color: var(--global--color-text-off);
    font-weight: $fw-500;
    margin-top: -8px !important;
    span {
      color: var(--global--color-base-text);
      font-style: italic;
    }
    @include max(767) {
      margin-top: -3px !important;
    }
  }
}
.entry_form_wrap {
  .tw-row {
    --bs-gutter-xs: 14px;
    margin-left: calc(-0.5 * var(--bs-gutter-xs));
    margin-right: calc(-0.5 * var(--bs-gutter-xs));
    &>* {
      padding-left: calc(var(--bs-gutter-xs) * 0.5);
      padding-right: calc(var(--bs-gutter-xs) * 0.5);
      @include max(767) {
        margin-bottom: calc(var(--bs-gutter-xs) * 0.7);
        margin-top: calc(var(--bs-gutter-xs) * 0.7);
      }
    }
  }
  .entry_note {
    @include fontSize(12px);
    font-weight: $fw-300;
    .link {
      background-color: transparent;
      color: var(--global--color-primary);
      font-weight: $fw-600;
      margin-top: 12px;
      &:hover {
        color: var(--global--color-black);
      }
    }
  }
}