.project_footer {
  background-color: transparent;
  color: var(--global--color-base-text);
  @include fontSize(15px);
  font-weight: $fw-400;
  padding-bottom: 15px;
  padding-top: 15px;
}
.no-styled-footer {
  @include fontSize(15px);
  font-weight: $fw-500;
  padding-bottom: 15px;
  padding-top: 15px;
}
.has_sidebar {
  .project_footer {
    padding-left: 350px;
  }
}