/* ===========================
			Header Section
=========================== */
[class*="project_logo_"] {
  line-height: 0;
  @include transition(all,ease,0.3s);
  svg {
    fill: var(--global--color-black);
    height: 30px;
  }
  .logo {
    line-height: 0;
  }
}
.project_header {
  //background-color: var(--global--color-black);
  background-color: darken($base-text,15%);
  color: var(--global--color-white);
  left: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  position: fixed;
  top: 0;
  @include transition(all,ease,0.3s);
  width: 100%;
  z-index: 9;
  [class*="project_logo_"] {
    svg {
      fill: var(--global--color-white);
    }
  }
  .header_right {
    @include align-items(center);
    @include flexbox();
    @include justify-content(end);
    margin-left: auto;
  }
  .main_menu {
    ul {
      @include align-items(center);
      @include flexbox();
      li {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    a {
      background-color: transparent;
      @include border-radius(3px);
      color: var(--global--color-primary);
      @include fontSize(13px);
      font-weight: $fw-300;
      letter-spacing: 1.5px;
      line-height: 1;
      padding: 5px 7px;
      text-transform: uppercase;
      &:hover {
        background-color: rgba($primary-color,0.5);
        color: var(--global--color-white);
      }
    }
  }
}
.no-styled-header {
  padding-bottom: 15px;
  padding-top: 15px;
}
.user_profile {
  position: relative;
  .user_avatar {
    background-color: #efefef;
    @include border-radius(50%);
    margin-right: 10px;
    overflow: hidden;
    img {
      aspect-ratio: 3/2;
      object-fit: contain;
      mix-blend-mode: color-burn;
    }
  }
  .user_btn {
    background-color: transparent;
    text-align: left;
    .user_avatar {
      height: 30px;
      width: 30px;
    }
    .user_name {
      color: var(--global--color-white);
      @include fontSize(14px);
      font-weight: $fw-500;
      line-height: 1.1;
      span {
        @include fontSize(12px);
        font-weight: $fw-300;
      }
    }
  }
}