/* ===========================
		Top Form
=========================== */
.main_body_wrapper {
	height: calc(100vh - 111px);
	padding: 30px;
	position: relative;
	.main_sidebar {
		background-color: var(--global--color-black);
		color: var(--global--color-white);
		@include flex(0,0,300px);
		padding: 20px;
		width: 300px;
	}
	.main_container {
		background-color: var(--global--color-white);
		flex-grow: 1;
	}
	&.with_sidebar {
		padding-left: 350px;
		.main_sidebar {
			height: calc(100vh - 58px);
			left: 0;
			position: fixed;
			top: 58px;
		}
	}
}