@include min(575) {
  .mobLand-clear {
    clear: both;
    display: block;
  }
  .tw-col-sm-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
}
// Min-width 575
@include min-max(575, 767) {
}
@include min(768) {
  .ipad-clear {
    clear: both;
    display: block;
  }
  .tw-col-md-4 {
    @include flex(0,0,33.33333%);
    width: 33.33333%;
  }
  .tw-col-md-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
  #content_wrapper {
    padding-top: 90px;
  }  
  .white-box {
    margin-bottom: 25px;
    padding: 20px;
    .h-space {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .t-space {
      padding-top: 20px !important;
    }
  }
  .outer_container {
    padding: 50px;
    [class*="entryCol-"] {
      height: calc(100vh - 100px);
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
// Min-width 768
@include min(992) {
  .tw-col-lg-4 {
    @include flex(0,0,33.33333%);
    width: 33.33333%;
  }
  .tasks_sorts {
    li {
      &:before {
        right: 5px;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }
}
@include min-max(575,991) {
  .tasks_sorts {
    li {
      &:nth-child(3n+3) {
        &:before {
          display: none;
        }
      }
    }
  }
}
// Min-width 992
@include min-max(768, 1199) {
}
// Min-width 768  and Max-width 1199
@include min-max(992, 1199) {
}
@include min(1200) {
  .desktop-clear {
    clear: both;
    display: block;
  }
  .page_appEntry {
    [class*="entryCol-"] {
      @include flex(0,0,50%);
      width: 50%;
    }
  }
  .tw-col-xl-3 {
    @include flex(0,0,25%);
    width: 25%;
  }
  .tw-col-xl-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
  #content_wrapper {
    padding-top: 89px;
  }
  .main_body_wrapper {
    min-height: 100vh ;
    padding: 90px 30px 0 0;
    .main_sidebar {
      @include flex(0,0,300px);
      padding: 20px;
      width: 300px;
    }
    &.with_sidebar {
      padding-left: 350px;
      .project_header {
        left: 300px;
        width: calc(100% - 300px);
      }
    }
  }
}
// Min-width 1200
@include min-max(1200, 1599) {
}
// 1200 1599
@include min(1600) {
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin: 0;
      margin-top: 30px;
    }
  }
  blockquote {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
  #content_wrapper {
    padding-top: 60px;
  }
  .outer_container {
    padding: 100px;
    [class*="entryCol-"] {
      height: calc(100vh - 200px);
    }
  }
  .tasks_sorts {
    li {
      &:before {
        right: 20px;
      }
    }
    .count {
      @include fontSize(26px);
      padding-right: 8px;
    }
    .tasks {
      @include fontSize(13px);
    }
  }
}
// Min-width 1600
@include min(1850) {
  #content_wrapper {
    padding-top: 60px;
  }
}
// Min-width 1850
@include max(1599) {
}
@include max(1199) {
}
// max width 1199px
@include max(991) {
  .tasks_sorts {
    @include flex-wrap(wrap);
    &>* {
      @include flex(0,0,33.33333%);
      width: 33.33333%;
    }
  }
}
// Max-width 991
@include max(767) {
}
// Max-width 767
@include max(574) {
  .tasks_sorts {
    &>* {
      @include flex(0,0,50%);
      width: 50%;
    }
    li {
      &:before {
        right: 0;
      }
      &:nth-child(even) {
        &:before {
          display: none;
        }
      }
    }
  }
}
// Max-width 574
// Browser Hack for Firefox Only
@-moz-document url-prefix() {
  @include placeholder {
    height: 40px;
    line-height: 1;
    @include min(1600) {
      height: 50px;
    }
  }
  textarea {
    @include placeholder {
      line-height: 1;
    }
  }
  .form-elements {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}