@include min(575) {
  .mobLand-clear {
    clear: both;
    display: block;
  }
  .tw-col-sm-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
}
// Min-width 575
@include min-max(575, 767) {
  .user_profile_wrapper {
    .dflt_user_info {
      li {
        .dui_info {
          @include flex(0,0,120px);
        }
      }
    }
  }
}
@include min(768) {
  .ipad-clear {
    clear: both;
    display: block;
  }
  .tw-col-md-4 {
    @include flex(0,0,33.33333%);
    width: 33.33333%;
  }
  .tw-col-md-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
  #content_wrapper {
    padding-top: 90px;
  }  
  .white-box {
    margin-bottom: 25px;
    padding: 20px;
    .h-space {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .t-space {
      padding-top: 20px !important;
    }
  }
  .outer_container {
    padding: 50px;
    [class*="entryCol-"] {
      height: calc(100vh - 100px);
      padding-left: 30px;
      padding-right: 30px;
    }
  }  
  .profile_banner {
    height: 190px;
    margin: -12px -10px 0 -20px;
  }
  .user_profile_wrapper {
    margin-top: -50px;
    .usr_prfl_sidebar {
      @include flex(0,0,220px);
      width: 220px;
    }
    .usr_prfl_content {
      @include flex(0,0,calc(100% - 220px));
      width: calc(100% - 220px);
    }
  }
}
// Min-width 768
@include min(992) {
  .tw-col-lg-4 {
    @include flex(0,0,33.33333%);
    width: 33.33333%;
  }
  .tasks_sorts {
    li {
      &:before {
        right: 5px;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }
  .profile_banner {
    height: 250px;
  }
}
@include min-max(575,991) {
  .tasks_sorts {
    li {
      &:nth-child(3n+3) {
        &:before {
          display: none;
        }
      }
    }
  }
}
// Min-width 992
@include min-max(768, 1199) {
  .user_profile_wrapper {
    .dflt_user_info {
      li {
        @include flex-wrap(wrap);
        .dui_info,
        .dui_value {
          @include flex(0,0,100%);
          width: 100%;
        }
      }
    }
  }
}
// Min-width 768  and Max-width 1199
@include min-max(992, 1199) {
}
@include min(1200) {
  .desktop-clear {
    clear: both;
    display: block;
  }
  .page_appEntry {
    [class*="entryCol-"] {
      @include flex(0,0,50%);
      width: 50%;
    }
  }
  .tw-col-xl-3 {
    @include flex(0,0,25%);
    width: 25%;
  }
  .tw-col-xl-6 {
    @include flex(0,0,50%);
    width: 50%;
  }
  #content_wrapper {
    padding-top: 89px;
  }
  .main_body_wrapper {
    min-height: 100vh ;
    padding: 75px 30px 0 0;
    .main_sidebar {
      @include flex(0,0,250px);
      width: 250px;
      .main_menu {
        padding-top: 10px;
      }
    }
    &.with_sidebar {
      padding-left: 300px;
      .project_header {
        left: 250px;
        width: calc(100% - 250px);
      }
      .project_logo_ {
        padding-left: 20px;
        padding-right: 20px;
      }
      .main_sidebar {
        .main_menu {
          li {
            a {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
      .logo_main {
        display: block;
      }
      .logo_slim {
        display: none;
      }
    }
    &.showSidebar {
      padding-left: 70px;
      .project_header {
        left: 50px;
        width: calc(100% - 50px);
      }
      .project_logo_ {
        @include justify-content(center);
        padding-left: 5px;
        padding-right: 5px;
      }
      .main_sidebar {
        width: 50px;
        .main_menu {
          li {
            a {
              @include justify-content(center);
              padding-left: 5px;
              padding-right: 5px;
              .title {
                display: none;
              }
            }
          }
        }
        .hamburger_menu {
          span {
            margin-top: 0;
            width: 16px;
            &:nth-child(2) {
              width: 26px;
            }
            &.first-child {
              @include rotate(40deg);
            }
            &.last-child {
              @include rotate(-40deg);
            }
          }
        }
      }
      .logo_main {
        display: none;
      }
      .logo_slim {
        display: block;
      }
    }
  }
  .profile_banner {
    height: 220px;
    margin: -30px -30px 0 -50px;
  }
  .user_profile_wrapper {
    margin-top: -35px;
  }
}
// Min-width 1200
@include min-max(1200, 1599) {
}
// 1200 1599
@include min(1600) {
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin: 0;
      margin-top: 30px;
    }
  }
  blockquote {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
  #content_wrapper {
    padding-top: 60px;
  }
  .outer_container {
    padding: 100px;
    [class*="entryCol-"] {
      height: calc(100vh - 200px);
    }
  }
  .tasks_sorts {
    li {
      &:before {
        right: 20px;
      }
    }
    .count {
      @include fontSize(26px);
      padding-right: 8px;
    }
    .tasks {
      @include fontSize(13px);
    }
  }
  .profile_banner {
    height: 300px;
    margin: -30px -30px 0 -50px;
  }
  .user_profile_wrapper {
    margin-top: -50px;
    .usr_prfl_sidebar {
      @include flex(0,0,300px);
      width: 300px;
    }
    .usr_prfl_content {
      @include flex(0,0,calc(100% - 300px));
      width: calc(100% - 300px);
    }
  }
}
// Min-width 1600
@include min(1850) {
  #content_wrapper {
    padding-top: 60px;
  }
}
// Min-width 1850
@include max(1599) {
}
@include max(1199) {
  .ipad-none {
    display: none;
  }
  .main_body_wrapper {
    .main_sidebar {
      @include flex(0,0,50px);
      width: 50px;
      .hamburger_menu {
        right: -40px;
      }
    }
    &.with_sidebar {
      .project_header {
        left: 50px;
        width: calc(100% - 50px);
      }
      .project_logo_ {
        @include justify-content(center);
        padding-left: 5px;
        padding-right: 5px;
      }
      .main_sidebar {
        width: 50px;
        .main_menu {
          li {
            a {
              @include justify-content(center);
              padding-left: 5px;
              padding-right: 5px;
              .title {
                display: none;
              }
            }
          }
        }
      }
      .logo_main {
        display: none;
      }
      .logo_slim {
        display: block;
      }
    }
    &.showSidebar {
      padding-left: 65px;
      .project_logo_ {
        @include justify-content(start);
        padding-left: 15px;
        padding-right: 15px;
      }
      .main_sidebar {
        width: 220px;
        .main_menu {
          li {
            a {
              @include justify-content(start);
              padding-left: 15px;
              padding-right: 15px;
              .title {
                display: block;
              }
            }
          }
        }
        .hamburger_menu {
          background-color: darken($base-text,15%);
          span {
            left: 0;
            margin-top: 0;
            right: auto;
            transform-origin: left;
            width: 16px;
            &:nth-child(2) {
              width: 26px;
            }
            &.first-child {
              @include rotate(40deg);
            }
            &.last-child {
              @include rotate(-40deg);
            }
          }
        }
      }
      .logo_main {
        display: block;
      }
      .logo_slim {
        display: none;
      }
    }
  }
}
// max width 1199px
@include max(991) {
  .tasks_sorts {
    @include flex-wrap(wrap);
    &>* {
      @include flex(0,0,33.33333%);
      width: 33.33333%;
    }
  }
}
// Max-width 991
@include max(767) {
}
// Max-width 767
@include max(574) {
  .tasks_sorts {
    &>* {
      @include flex(0,0,50%);
      width: 50%;
    }
    li {
      &:before {
        right: 0;
      }
      &:nth-child(even) {
        &:before {
          display: none;
        }
      }
    }
  }
}
// Max-width 574
// Browser Hack for Firefox Only
@-moz-document url-prefix() {
  @include placeholder {
    height: 40px;
    line-height: 1;
    @include min(1600) {
      height: 50px;
    }
  }
  textarea {
    @include placeholder {
      line-height: 1;
    }
  }
  .form-elements {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}